body{
    background-color: rgb(247, 176, 176);
}
fieldset{
    border: 0;
}
ul, li{
    list-style: none;
    display: block;
    float: left;
    padding: 0px 10px;
    font-size: 25px;
    margin-left: 70px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: aqua;
}